* {
    box-sizing: border-box;
}

html {
    /* background-color: #E8FFFA; */
    background-color: #f6b568;
    /* font-family: 'Assistant', sans-serif; */
    /* color: #1d92a4; */
    display: flex;
    flex-wrap: wrap;
}

/* site's typography */
@import url('https://fonts.googleapis.com/css?family=Pacifico:400|Poppins:400');

html {font-size: 16px;}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  /* color: #1d92a4; */
  color: #0B5656;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 100px;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}

main {
    margin-top: 5%;
    text-align: center;
}

.bodytext {
    padding-left: 15%;
    padding-right: 15%;  
}
/* nav stuff */
nav {
    background-color: #f1692e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    display: inline-flex; 
    align-items: center;
    font-weight: bold;
}

nav label, #hamburger {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
color: #fff;
font-weight: 600;
text-decoration-line: none;
text-transform: uppercase;
}


/* headings */
header {
    text-align: center;
}
/* h1 {
    font-family: 'Pacifico', cursive;
    font-size: 84px;
} */

/* .subhed {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
} */


/* images */
img {
    border-radius: 50% 50%;

}

.jumbotron img {
    height: 70%;
    width: 70%;
}

.whoweare img {
    width: 100%;
    border: 5px solid #f1692e;
}

.whoweare {
    display: flex;
    justify-content: space-around;
}

.whereweregoing img, 
.wherewevebeen img{
    height: 400px;
    width: 700px;
    border: 5px solid #f1692e;
}

.whereweregoing,
.wherewevebeen {
    margin-top: 10%;
    margin-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%; 
}

figure {
    width: 100%;
    margin: 10px;
}

/* below are images on about me page */
.box img {
    height: 25%;
    width: auto;
    margin: 10px;
    border: 5px solid #f1692e;
    border-radius: 50% 50%;
} 


/* about us page */
/* utilizes CSS grid */
.grid {
    display: grid;
    height: 200px;
    width: auto;
    grid-template: repeat(5, 1fr) / 1fr 3fr;
    grid-gap: 30px;
}

.goosepic {
    grid-row-start: 1;
    grid-row-end: 2;
}

.tofupic {
    grid-row-start: 2;
    grid-row-end: 3;
}

.spotpic {
    grid-row-start: 3;
    grid-row-end: 4;
}

.dexterpic {
    grid-row-start: 4;
    grid-row-end: 5;
}

.sunnypic {
    grid-row-start: 5;
    grid-row-end: 6;
}

.goose,
.tofu,
.spot,
.dexter,
.sunny {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
}

/* contact us page */
/* contact us form */
form {
    text-align: left;
}

input {
    width: 40%;
    margin: 8px;
}

input[type=submit] {
    background-color: #7fb3a8;
    color: white;
    border: none;
    cursor: pointer;
    width: 10%;
}

/* media queries */
/* for screens 714px and smaller */
@media only screen and (max-width: 714px) {
    .jumbotron img {
        height: 15em;
        width: auto;
    }

    h1 {
        font-size: 2em;
    }

    .subhed {
        font-size: 20px;
    }

    .whereweregoing img, 
    .wherewevebeen img {
        height: 11em;
        width: auto;
    }

    input[type=submit] {
        width: 30%;

    }

    /* hamburger stuff */
    nav {
        background-color: #E8FFFA;
    }
    nav label {
        display: inline-block;
        color: #7fb3a8;
        background: #E8FFFA;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }
    nav ul li {
        display: block;
        border-top: 0px solid #7fb3a8;
        background-color: #cefff5;
    }
    nav ul {
        display: none;
    }
    nav input:checked ~ ul {
        display: block;
    }
}
/* for screens 320 and smaller */
@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.799em;
    }

    .subhed {
        font-size: 15px;
    }
}