* {
    box-sizing: border-box;
}

html {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    scroll-snap-type: y mandatory;
}

/* site's typography =========================================================================================== */
@import url('https://fonts.googleapis.com/css?family=Pacifico:400|Poppins:400');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
  margin-left: 0;
  margin-right: 0;
}

p {
  margin-bottom: 1.25em;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 100px;
  font-size: 4.209em;
  color: #8AA8CD;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}

main {
    margin-top: 5%;
    text-align: center;
    color: #8AA8CD;
}

.subhed {
    font-family: 'Pacifico', cursive;
    color: #8AA8CD;
    font-size: 1.5em;
}
.introtext {
    padding-left: 15%;
    padding-right: 15%; 
    padding-top: 3%;
    padding-bottom: 5%; 
    color: #8aa8cd;
}

/* about us blurb copy */
.box p {
    color: #000;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #f78a6f;
    text-decoration: none;
}

a:active {
    color: #fff;
}

a {
    color: #fff;
}

.whereweregoingsection a {
    color: #000;
}

.whereweregoingsection a:hover {
    color: #f78a6f;
}
/* nav stuff ============================================================================================== */
nav {
    background-color: #8AA8CD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    display: inline-flex; 
    align-items: center;
    font-weight: bold;
    z-index: 10;
}

nav label, #hamburger {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: auto;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    color: #fff;
    font-weight: 600;
    text-decoration-line: none;
    text-transform: uppercase;
}

/* header ============================================================================================== */
header {
    text-align: center;
}

.goingheader, .beenheader {
    padding: 10%;

}

/* scroll snap ========================================================================================= */
/* .whowearesection, .whereweregoingsection {
    scroll-snap-stop: normal;
} */
.jumbotron, .whowearesection, .whereweregoingsection, .goingheader, .beenheader, .goinglocation1, .goinglocation2, .goinglocation3, .beenlocation1 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
}

/* images ============================================================================================== */
.jumbotron img {
    height: 50%;
    width: auto;
    margin: 0 auto;
}

.whoweare img {
    width: 70%;
    border: 5px solid #f78a6f;
    border-radius: 50% 50%;
}

.whereweregoing img, 
.wherewevebeen img{
    height: 400px;
    width: 700px;
    border: 5px solid ##f78a6f;
    border-radius: 50% 50%;
    padding-top: 4%;
    padding-bottom: 4%;

}

figure {
    width: 100%;
    margin: 10px;
}

/* below are images on about me page */
.box img {
    width: 70%;
    margin: 10px;
    border: 5px solid #f78a6f;
    border-radius: 50% 50%;
} 

.box {
    align-items: center; 
}

/* below is for tint overlay on top of background photos */
.texttintbox {
    background-color: #fff;
    margin: 300px;
    opacity: 0.6;
}

/* index page ================================================================================================== */
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.whowearesection {
    background-color: #8AA8CD;
    padding-top: 5%;
    padding-bottom: 10%;
    color: #fff;
}

.whowearesection h2, p {
    color: #fff;
}

.whoweare {
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding-top: 4%;
    padding-bottom: 4%;
}

.whereweregoingsection h2, h3 {
    color: #8AA8CD;
}

.whereweregoingsection p {
    margin-left: 25%;
    margin-right: 25%;
    color: #000;
}

.whereweregoingsection {
    background-image: linear-gradient(to top, transparent, #fff 97%), url("../../resources/park-photos/grandcanyon.jpg");
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* about us page ============================================================================================== */
/* utilizes CSS grid */
.grid {
    display: grid;
    height: 200px;
    width: 80%;
    padding-left: 20%;
    grid-template: repeat(5, 1fr) / 1fr 3fr;
    grid-gap: 30px;
}

/* where we're going, where we've been pages ======================================================== */
.whereweregoing,
.wherewevebeen {
    align-content: center;
    /* color: #8AA8CD; */
}

.whereweregoing p, .beenlocation1 p {
    color: #000;
    padding-left: 20%;
    padding-right: 20%; 
}

.goinglocation1 {
    background-image: linear-gradient(to top, transparent, #fff 95%), url("../../resources/park-photos/grandcanyon.jpg");
    padding: 1%;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goinglocation2 {
    background-image: linear-gradient(to top, transparent, #fff 80%), url("../../resources/park-photos/greatsanddunes.jpg");
    padding: 1%;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goinglocation3 {
    background-image: linear-gradient(to top, transparent, #fff 80%), url("../../resources/park-photos/zion.jpg");
    padding: 1%;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beenlocation1 {
    background-image: linear-gradient(to top, transparent, #fff 80%), url("../../resources/park-photos/bigbend.jpg");
    padding: 1%;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* contact us page ============================================================================================== */
/* contact us form */
.contactuspage {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contactuspage img {
    height: 25%;
    width: 30%;
}

form {
    text-align: left;
    background: #8AA8CD;
    height: 78vh;
    width: 30vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    padding-left: 7%;
}

input {
    height: 7%;
    width: 70%;
    border: .5px solid #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #000;
}

.commentbox {
    height: 30%;
    width: 70%;
    resize: none;
    border: .5px solid #fff;
    border-radius: 4px;
    margin-bottom: 20px;

}

input[type=submit] {
    background-color: #f78a6f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 8%;
    width: 40%;
}

/* media queries ============================================================================================== */
/* for screens 714px and smaller */
@media only screen and (max-width: 714px) {
    .jumbotron img {
        height: 15em;
        width: auto;
    }

    h1 {
        font-size: 2em;
    }

    .subhed {
        font-size: 20px;
    }

    .whereweregoing img, 
    .wherewevebeen img {
        height: 11em;
        width: auto;
    }

    input[type=submit] {
        width: 30%;

    }
    
    .grid {
    display: grid;
    height: 80%;
    width: 80%;
    padding-left: 20%;
    grid-column: 0;
    grid-row: 0;
    grid-gap: 2px;
    }
    .goose,
    .tofu,
    .spot,
    .dexter,
    .sunny {
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }

    .box {
        grid-column: 1 / -1;
    }
    /* hamburger stuff */
    nav {
        background-color: #8AA8CD;
        height: 50px
    }
    nav label {
        display: inline-block;
        color: #ffffff;
        background: #8AA8CD;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
        height: 2 px;
        
    }
    nav ul li {
        display: block;
        border-top: 9px solid #8AA8CD;
        border-left: 9px solid #8AA8CD;
        border-right: 9px solid #8AA8CD;
        margin: 0px;
        background-color: #8AA8CD;
    }
    nav ul {
        display: none;
    }
    nav input:checked ~ ul {
        display: block;
    }

    .contactuspage img {
    height: 20%;
    width: 64%;
    }

    .contactuspage {
        display: flex;
        flex-wrap: wrap;
    }
    
    form {
        height: 50%;
        width: 64%;
        padding-left: 14%;
        padding-top: 4%;
    }

    input {
        height: 7%;
        width: 70%;
    }

    .commentbox {
        height: 30%;
        width: 70%;
    }

    input[type=submit] {
        font-size: 20px;
        height: 8%;
        width: 50%;
    }

}
/* for screens 320 and smaller */
@media only screen and (max-width: 320px) {
    body {
        width: auto;
    }
    
    /* h1 {
        font-size: 2em;
    } */
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.25em;
    }
    .subhed {
        font-size: .85em;
    }
    p{
        font-size: .75em;
    }

}